<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Antanas Kalkauskas - $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
    </head>
    <body>
        <header>
            <div class="logo">
                <a >Antanas Kalkauskas - $title$</a>
                <!-- <a href="/">Antanas Kalkauskas - $title$ </a> -->
            </div>
            <nav>
                <a href="/">Home</a>
                <a href="/contact.html">Contact</a>
            </nav>
        </header>

        <main role="main">
            $body$
        </main>
    </body>
</html>
